backend:
  name: git-gateway
  branch: main
  commit_messages:
    create: 'Create {{collection}} “{{slug}}”'
    update: 'Update {{collection}} “{{slug}}”'
    delete: 'Delete {{collection}} “{{slug}}”'
    uploadMedia: '[skip ci] Upload “{{path}}”'
    deleteMedia: '[skip ci] Delete “{{path}}”'

local_backend: true
media_folder: static/img
public_folder: /img
publish_mode: editorial_workflow

display_url: https://nebraska-mushrooms.netlify.app
site_url: https://nebraska-mushrooms.netlify.app

collections:
  - name: 'location-profiles'
    label: 'Location Profiles'
    folder: 'content/location-profiles'
    create: true
    slug: '{{slug}}'
    fields:
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Geolocation', name: 'geolocation', widget: 'map' }
      - { label: 'Description', name: 'description', widget: 'markdown' }

  - name: 'species-profile'
    identifier_field: name
    label: 'Species Profiles'
    folder: 'content/species-profiles'
    create: true
    slug: '{{slug}}'
    fields:
      - { label: 'Common Name(s)', name: 'name', widget: 'string' }
      - { label: 'Scientific Name', name: 'scientific_name', widget: 'string' }
      - {
          label: 'Location',
          name: 'location',
          widget: 'relation',
          collection: 'location-profiles',
          search_fields: ['title'],
          value_field: 'title',
        }
      - {
          label: 'Tag',
          name: 'tag',
          widget: 'select',
          options: ['edible', 'poisonous', 'interesting'],
        }
      - { label: 'Description', name: 'description', widget: 'markdown' }
      - { label: 'Morphology', name: 'morphology', widget: 'markdown' }
      - {
          label: 'Taxonomy',
          name: 'taxonomy',
          widget: 'list',
          fields:
            - { label: 'Taxon', name: 'taxon', widget: 'string' }
        }
      - {
          label: 'External Links',
          name: 'external_links',
          widget: 'list',
          fields:
            - { label: 'Link', name: 'link', widget: 'string' }
            - { label: 'Name', name: 'name', widget: 'string' }
            - {
                label: 'Tag',
                name: 'tag',
                widget: 'select',
                options:
                  - Index Fungorum
                  - iNaturalist Species Description
                  - iNaturalist Observation
                  - Wikipedia
              }
        }
      - { label: 'Icon Photo', name: 'icon_photo', widget: 'image' }
      - {
          label: 'Photos',
          name: 'photos',
          widget: 'list',
          fields: 
            - { label: 'Photo', name: 'photo', widget: 'image' }
        }

  - name: 'articles'
    label: 'Articles'
    folder: 'content/articles'
    create: true
    slug: '{{slug}}'
    fields:
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Date', name: 'date', widget: 'datetime' }
      - { label: 'Author', name: 'author', widget: 'string' }
      - { label: 'Body', name: 'body', widget: 'markdown' }
