backend:
  name: git-gateway
  branch: main
  commit_messages:
    create: 'Create {{collection}} “{{slug}}”'
    update: 'Update {{collection}} “{{slug}}”'
    delete: 'Delete {{collection}} “{{slug}}”'
    uploadMedia: '[skip ci] Upload “{{path}}”'
    deleteMedia: '[skip ci] Delete “{{path}}”'

local_backend: true
media_folder: static/img
public_folder: /img
publish_mode: editorial_workflow

display_url: https://nebraskamushrooms.org/
site_url: https://nebraskamushrooms.org/

collections:
  - name: 'location-profiles'
    label: 'Location Profiles'
    folder: 'src/cms/content/location'
    create: true
    slug: '{{slug}}'
    fields:
      - label: Template Key
        name: templateKey
        widget: hidden
        default: location

      - label: Title
        name: title
        widget: string

      - label: Geolocation
        name: geolocation
        widget: map

      - label: Description
        name: body
        widget: markdown

      - label: Hero Image
        name: heroImage
        widget: image

  - name: 'references'
    label: 'References'
    folder: 'src/cms/content/reference'
    create: true
    slug: '{{slug}}'
    fields:
      - label: Template Key
        name: templateKey
        widget: hidden
        default: reference

      - label: Title
        name: title
        widget: string

  - name: 'species'
    identifier_field: scientific_name
    label: 'Species Profiles'
    folder: 'src/cms/content/species'
    create: true
    slug: '{{slug}}'
    fields:
      - label: Template Key
        name: templateKey
        widget: hidden
        default: species

      - label: Common Name(s)
        name: name
        widget: string
        required: false

      - label: Scientific Name
        name: scientific_name
        widget: string

      - label: Locations
        name: locations
        widget: list
        field:
          widget: relation
          name: location
          collection: location-profiles
          search_fields: ['title']
          value_field: 'title'

      - label: References
        name: references
        widget: list
        field:
          widget: relation
          name: reference
          collection: references
          search_fields: ['title']
          value_field: 'title'

      - label: Tags
        name: tags
        widget: list
        field:
          label: Tag
          name: tag
          widget: select
          options:
            [
              'edible',
              'edible-with-caution',
              'poisonous',
              'interesting',
              'spring',
              'summer',
              'fall',
              'winter',
              'agaric',
              'bolete',
              'entomopathogenic',
              'disc',
              'chantrelle',
              'polypore',
              'conk',
              'shelf',
              'crust',
              'coral',
              'club',
              'toothed',
              'nest',
              'sequestrate',
              'parasitic',
              'lichen',
              'slime-mold',
              'rust',
              'jelly',
              'substrate-soil',
              'substrate-wood',
              'substrate-spiders',
              'substrate-duff',
              'substrate-fungi',
              'substrate-moss',
            ]

      - label: Description
        name: body
        widget: markdown
        default: >-
          #### Description

          #### Habitat

          #### Abundance

          **Indian Cave State Park**:

          **Statewide Range**:

          **North America**:

          #### Fruiting Period

          #### Similar Species

          #### Interesting facts

          #### More In Depth

          #### [Edibility](/articles/concerning-wild-mushroom-edibility/)

          #### Toxicity

      - label: Taxonomy
        name: taxonomy
        widget: list
        field:
          label: Taxon
          name: taxon
          widget: string

      - label: External Links
        name: external_links
        widget: list
        fields:
          - label: Tag
            name: tag
            widget: select
            options:
              - Index Fungorum
              - iNaturalist Species Description
              - iNaturalist Observation
              - Wikipedia
              - Mushroom Expert
              - MycoBank
              - Amanitaceae.org
              - Google Scholar

          - label: Link
            name: link
            widget: string

      - label: Photos
        name: photos
        widget: list
        field:
          label: Photo
          name: photo
          widget: image

  - name: 'articles'
    label: 'Articles'
    folder: 'src/cms/content/articles'
    create: true
    slug: '{{slug}}'
    fields:
      - label: Template Key
        name: templateKey
        widget: hidden
        default: article

      - label: Title
        name: title
        widget: string

      - label: Date
        name: date
        widget: datetime

      - label: Author
        name: author
        widget: string

      - label: Body
        name: body
        widget: markdown
