backend:
  name: git-gateway
  branch: main
  commit_messages:
    create: 'Create {{collection}} “{{slug}}”'
    update: 'Update {{collection}} “{{slug}}”'
    delete: 'Delete {{collection}} “{{slug}}”'
    uploadMedia: '[skip ci] Upload “{{path}}”'
    deleteMedia: '[skip ci] Delete “{{path}}”'

local_backend: true
media_folder: static/img
public_folder: /img
publish_mode: editorial_workflow

display_url: https://nebraska-mushrooms.netlify.app
site_url: https://nebraska-mushrooms.netlify.app

collections:
  - name: 'location'
    label: 'Location Profiles'
    folder: 'src/cms/content/location'
    create: true
    slug: '{{slug}}'
    fields:
      - label: Title
        name: title
        widget: string

      - label: Geolocation
        name: geolocation
        widget: map

      - label: Description
        name: body
        widget: markdown

  - name: 'reference'
    label: 'References'
    folder: 'src/cms/content/reference'
    create: true
    slug: '{{slug}}'
    fields:
      - label: Short Name
        name: short_name
        widget: string

      - label: Title
        name: title
        widget: string

  - name: 'species'
    identifier_field: name
    label: 'Species Profiles'
    folder: 'src/cms/content/species'
    create: true
    slug: '{{slug}}'
    fields:
      - label: Common Name(s)
        name: name
        widget: string

      - label: Scientific Name
        name: scientific_name
        widget: string

      - label: Location
        name: location
        widget: relation
        collection: location-profiles
        search_fields: ['title']
        value_field: 'title'

      - label: References
        name: references
        widget: list
        field:
          widget: relation
          name: reference
          collection: references
          search_fields: ['short_name', 'title']
          value_field: 'title'

      - label: Tags
        name: tags
        widget: list
        field:
          label: Tag
          name: tag
          widget: select
          options: ['edible', 'poisonous', 'interesting']

      - label: Description
        name: body
        widget: markdown

      - label: Taxonomy
        name: taxonomy
        widget: list
        field:
          label: Taxon
          name: taxon
          widget: string

      - label: External Links
        name: external_links
        widget: list
        fields:
          - label: Tag
            name: tag
            widget: select
            options:
              - Index Fungorum
              - iNaturalist Species Description
              - iNaturalist Observation
              - Wikipedia

          - label: Link
            name: link
            widget: string

      - label: Photos
        name: photos
        widget: list
        field:
          label: Photo
          name: photo
          widget: image

  - name: 'articles'
    label: 'Articles'
    folder: 'src/cms/content/articles'
    create: true
    slug: '{{slug}}'
    fields:
      - label: Title
        name: title
        widget: string

      - label: Date
        name: date
        widget: datetime

      - label: Author
        name: author
        widget: string

      - label: Body
        name: body
        widget: markdown
