#printable {
  display: none;
}
@media print {
  .screen-only {
    display: none;
  }
  #printable {
    display: block;
  }
}

.species {
  column-count: 2;
  column-gap: 1em;
  column-fill: balance;
  page-break-after: always;
}
