:root {
  --s1: 0.5rem;
  --s2: 1rem;
  --s3: 2rem;
  --s4: 4rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

.page {
  margin-bottom: var(--s4);
  margin-top: var(--s4);
  min-height: calc(100vh - 23rem);
  overflow-x: hidden;
  overflow-wrap: break-word; /* For breaking long DNA seqeuences into different lines */
}

.noMargin {
  margin-bottom: 0;
}

.horizontalScroll {
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  background-color: black;
}

.horizontalScrollItem {
  display: inline-block;
  white-space: normal;
  height: 100%;
  vertical-align: middle !important;
}

.relative {
  position: relative;
}

.button-more-images {
  background-color: #fff;
  position: absolute;
  bottom: var(--s2);
  right: var(--s2);
}

.button-icon {
  line-height: 10px;
  display: flex;
  align-items: center;
}

.toggle-buttons {
  display: flex;
  white-space: nowrap;
}

.toggle-button-left {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.toggle-button-right {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.photo-table-column {
  width: 50px;
}

.main-table-column {
  width: 65%;
}

.flex {
  display: flex;
}

.items-centered {
  align-items: center;
}

.content-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-spaced {
  display: flex;
  justify-content: space-between;
}

.content-right {
  display: flex;
  justify-content: flex-end;
}

.items-center {
  align-items: center;
}

.mt-2 {
  margin-top: var(--s2);
}

.mx-2 {
  margin-left: var(--s2);
  margin-right: var(--s2);
}

.my-1 {
  margin-bottom: var(--s1);
  margin-top: var(--s1);
}

.my-3 {
  margin-bottom: var(--s3);
  margin-top: var(--s3);
}

.mb-0 {
  margin-bottom: 0;
}

.mb-2 {
  margin-bottom: var(--s2);
}

.mb-3 {
  margin-bottom: var(--s3);
}

.mb-4 {
  margin-bottom: var(--s4);
}

.ml-2 {
  margin-left: var(--s2);
}

.mr-3 {
  margin-right: var(--s3);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: var(--s3);
}

.grid-item {
  border: 1px solid #bbb;
  border-radius: 4px;
  color: #222;
  padding: var(--s2);
  text-decoration: none;
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
  overflow: hidden;
  box-sizing: border-box;
}

.grid-item:hover {
  border-color: #888;
  color: #333;
}

.grid-image {
  width: 100%;
  ratio: 1/1;
}

@media (min-width: 750px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1000px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.tag {
  display: inline-block;
  padding: var(--s1) var(--s2);
  border-radius: var(--s2);
  color: #555;
  font-size: 1.3rem;
  letter-spacing: 1.4px;
  text-decoration: none;
}

.tag-container {
  margin-top: var(--s1);
}

.tag-list-item {
  margin-bottom: var(--s1);
  margin-right: var(--s2);
}

.tag-list-item:last-of-type {
  margin-right: 0;
}

.clickable-tag {
  cursor: pointer;
  transition: opacity 0.2s;
}

.clickable-tag:hover {
  opacity: 0.7;
}

.small-header {
  font-size: 1.8rem;
}

.tag-red {
  background-color: #f8d7da !important;
}
.tag-yellow {
  background-color: #fff3cd !important;
}
.tag-green {
  background-color: #d4edda !important;
}
.tag-blue {
  background-color: #d1ecf1 !important;
}
.tag-beige {
  background-color: #fde2c6 !important;
}
.tag-lavender {
  background-color: #e6e0f8 !important;
}
.tag-peach {
  background-color: #fce5d1 !important;
}
.tag-brown {
  background-color: #e8c8a0 !important;
}
.tag-gray-blue {
  background-color: #d6ddeb !important;
}
.tag-pink {
  background-color: #f4d7e3 !important;
}
.tag-lime {
  background-color: #e2f2ce !important;
}
.tag-teal {
  background-color: #cce5ff !important;
}
.tag-rose {
  background-color: #f9dada !important;
}
.tag-mint {
  background-color: #d6f8e3 !important;
}
.tag-amber {
  background-color: #fdeac2 !important;
}
.tag-gold {
  background-color: #f7e3a6 !important;
}
.tag-pastel-green {
  background-color: #d6f3da !important;
}
.tag-mauve {
  background-color: #e6d4ed !important;
}
.tag-indigo {
  background-color: #cfd4f5 !important;
}
.tag-light-sky {
  background-color: #e3f2ff !important;
}
.tag-buttercream {
  background-color: #faf1cf !important;
}
.tag-lilac {
  background-color: #e8dbfc !important;
}
.tag-aqua {
  background-color: #d9f2f0 !important;
}
.tag-coral {
  background-color: #f7c4be !important;
}
.tag-lavender-gray {
  background-color: #ddd5e9 !important;
}
.tag-blush {
  background-color: #f5d3dd !important;
}
.tag-sand {
  background-color: #f0e1cd !important;
}
.tag-sky-blue {
  background-color: #cbe8ff !important;
}
.tag-plum {
  background-color: #d9c4eb !important;
}
.tag-forest-green {
  background-color: #d8f0d4 !important;
}
.tag-heather-purple {
  background-color: #dfd3ef !important;
}
.tag-watermelon {
  background-color: #f9c2c2 !important;
}
.tag-dusty-rose {
  background-color: #eac0cf !important;
}
.tag-olive {
  background-color: #e5e8cf !important;
}
.tag-burnt-orange {
  background-color: #f4d0b1 !important;
}
.tag-cloud-blue {
  background-color: #cde1f8 !important;
}
.tag-powder-pink {
  background-color: #f6d3e6 !important;
}
.tag-lemon {
  background-color: #f8e9a8 !important;
}
.tag-periwinkle {
  background-color: #d9d8fa !important;
}
.tag-sage-green {
  background-color: #e0f2de !important;
}
.tag-other {
  background-color: #f5f5f4 !important;
}

.header {
  background-color: #fafaf9;
  padding-bottom: var(--s2);
  padding-top: var(--s2);
}

.header-title-link {
  color: black;
  text-decoration: none;
  transition: color 0.2s;
}

.footer {
  background-color: #fafaf9;
  padding-bottom: var(--s3);
  padding-top: var(--s3);
}

.footer-link {
  align-items: center;
  margin-bottom: var(--s2);
}

.footer-link:last-of-type {
  margin-bottom: 0;
}

.footer-link-text {
  margin-left: var(--s2);
}

.clearable-input {
  padding-right: 38px;
}

.input-clear {
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 7px;
  position: absolute;
  right: 0;
  top: 0;
  transition: color 0.2s;
  width: 38px;
}

.input-clear svg {
  height: 22px;
  width: 22px;
}

.input-clear:hover {
  color: gray;
}

.location-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: var(--s3);
}

.link-tile {
  height: 270px;
  overflow: hidden;
}

.location-tile {
  height: 400px;
  overflow: hidden;
}

.random-mushroom-tile {
  height: 300px;
  overflow: hidden;
}

.grid-link {
  background-color: white;
  border-radius: 4px;
  border: 1px solid #bbb;
  padding: var(--s3) var(--s4);
  position: absolute;
  text-align: center;
  text-decoration: none;
  z-index: 1;
}

.centered-image {
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.defaultTableImg {
  width: 50px;
}

.defaultGridImg {
  display: block;
  width: 100%;
}

.logo {
  display: block;
  height: 50px;
}

input[type='text'].tag-select__input {
  height: fit-content;
  margin: 0;
}

.tag-select__indicator {
  color: #555 !important;
  cursor: pointer;
}

.tag-select__indicator:hover {
  color: gray !important;
}

.tag-select__multi-value {
  border-radius: var(--s1);
  color: #555;
  font-size: 1.3rem;
  letter-spacing: 1.4px;
}

.tag-select__multi-value__remove {
  cursor: pointer;
}

.tag-select__option {
  display: flex;
  align-items: center;
  color: #555;
  font-size: 1.3rem;
  letter-spacing: 1.4px;
  line-height: 2rem;
}

.tag-select__control--is-focused,
.tag-select__control--is-focused:hover {
  border: 1px solid #33c3f0 !important;
  box-shadow: none !important;
}

.tag-select__menu {
  border: 1px solid #33c3f0 !important;
  box-shadow: none !important;
  margin-left: 1px !important;
  margin-right: 1px !important;
  width: calc(100% - 2px) !important;
}

.taxa-tree {
  font-size: 100%;
  margin: 0.2rem 0 0.2rem 1.5rem;
}

.taxa-tree li {
  margin-bottom: 0;
}

.dark-link {
  color: #333;
}

.dark-link:hover {
  color: #555;
}

.color-box {
  color: rgb(255, 255, 255);
  padding: 10px;
  width: 75px;
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
  text-align: center;
  font-size: 14px;
  text-shadow: rgba(0, 0, 0, 0.8) 2px 2px 4px;
}

.color-box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.about-us-partner-item {
  display: block;
  text-align: center;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 10px;
}

.about-us-partner-item a {
  display: block;
}

.italic-text {
  font-style: italic;
}

.bold-text {
  font-weight: bold;
}

@media (max-width: 1000px) {
  .species-title {
    flex-direction: column;
    align-items: flex-start;
  }
}

.action-button {
  margin-right: var(--s3);
}

@media (max-width: 750px) {
  .action-button {
    margin-right: var(--s2);
  }

  .button-icon {
    padding: 0 var(--s3);
  }
}

.taxon-card {
  flex: 1 1 calc(50% - 10px);
  box-sizing: border-box;
  background-color: lightblue;
  color: black;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: large;
  line-height: 1.6;
  letter-spacing: 0.2px;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.taxon-card a {
  color: black;
  text-decoration: none;
}

.taxon-card-text {
  margin-top: 1em;
}

.key-form-tile-image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.key-form-tile-image {
  width: calc(50% - 10px);
  box-sizing: border-box;
  background-color: lightblue;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 480px;
}

@media (max-width: 768px) {
  .key-form-tile-image {
    width: 100%;
  }
}

.observation-card {
  background-color: #fafaf9;
  border-radius: var(--s3);
  padding: var(--s3);
  margin-bottom: var(--s3);
}

.observation-card h5 {
  text-align: center;
}

.observation-card .gatsby-image-wrapper {
  margin-bottom: var(--s3);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 1s linear infinite;
}

.button-primary:disabled,
.button-primary[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

.index-regenerate-icon {
  margin-top: 0.5em;
}

.key-choice-link {
  text-align: right;
  font-style: italic;
  font-style: bold;
}

.key-choice-next {
  text-align: right;
  font-style: bold;
}