.page {
  margin-top: 4rem;
}

.noMargin {
  margin-bottom: 0;
}

.horizontalScroll {
  overflow-x: auto;
  white-space: nowrap;
}

.horizontalScrollItem {
  display: inline-block;
  white-space: normal;
}
