:root {
  --s1: 0.5rem;
  --s2: 1rem;
  --s3: 2rem;
  --s4: 4rem;
}

.page {
  margin-bottom: var(--s4);
  margin-top: var(--s4);
  min-height: calc(100vh - 20rem);
  overflow-x: hidden;
}

.noMargin {
  margin-bottom: 0;
}

.horizontalScroll {
  overflow-x: auto;
  white-space: nowrap;
}

.horizontalScrollItem {
  display: inline-block;
  white-space: normal;
  height: 100%;
}

.relative {
  position: relative;
}

.button-more-images {
  background-color: #fff;
  position: absolute;
  bottom: var(--s2);
  right: var(--s2);
}

.button-icon {
  line-height: 10px;
}

.photo-table-column {
  width: 50px;
}

.main-table-column {
  width: 65%;
}

.content-right {
  display: flex;
  justify-content: flex-end;
}

.mb-2 {
  margin-bottom: var(--s2);
}

.ml-2 {
  margin-left: var(--s2);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: var(--s3);
}

.grid-item {
  border: 1px solid #bbb;
  border-radius: 4px;
  color: #222;
  padding: var(--s2);
  text-decoration: none;
}

.grid-item:hover {
  border-color: #888;
  color: #333;
}

.grid-image {
  width: 100%;
  ratio: 1/1;
}

@media (min-width: 750px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1000px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.tag {
  display: inline-block;
  padding: var(--s1) var(--s2);
  border-radius: var(--s3);
  color: #333;
  text-decoration: none;
}

.edible {
  background-color: #cfc;
}
.poisonous {
  background-color: #fcc;
}
.interesting {
  background-color: #ccf;
}

.footer {
  background-color: #fafaf9;
  padding-bottom: var(--s4);
  padding-top: var(--s4);
}

.footer-link {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-bottom: var(--s2);
}

.footer-link:last-of-type {
  margin-bottom: 0;
}

.footer-link-text {
  margin-left: var(--s2);
}
