:root {
  --s1: 0.5rem;
  --s2: 1rem;
  --s3: 2rem;
  --s4: 4rem;
}

.page {
  margin-bottom: var(--s4);
  margin-top: var(--s4);
}

.noMargin {
  margin-bottom: 0;
}

.horizontalScroll {
  overflow-x: auto;
  white-space: nowrap;
}

.horizontalScrollItem {
  display: inline-block;
  white-space: normal;
}

.button-icon {
  line-height: 10px;
}

.photo-table-column {
  width: 50px;
}

.main-table-column {
  width: 65%;
}

.content-right {
  display: flex;
  justify-content: flex-end;
}

.mb-2 {
  margin-bottom: var(--s2);
}

.ml-2 {
  margin-left: var(--s2);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: var(--s3);
}

.grid-item {
  border: 1px solid #bbb;
  border-radius: 4px;
  color: #222;
  padding: var(--s2);
  text-decoration: none;
}

.grid-item:hover {
  border-color: #888;
  color: #333;
}

.grid-image {
  width: 100%;
  ratio: 1/1;
}

@media (min-width: 750px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1000px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
