:root {
  --s1: 0.5rem;
  --s2: 1rem;
  --s3: 2rem;
  --s4: 4rem;
}

.page {
  margin-bottom: var(--s4);
  margin-top: var(--s4);
  min-height: calc(100vh - 20rem);
  overflow-x: hidden;
}

.noMargin {
  margin-bottom: 0;
}

.horizontalScroll {
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  background-color: black;
}

.horizontalScrollItem {
  display: inline-block;
  white-space: normal;
  height: 100%;
  vertical-align: middle;
  -webkit-vertical-align: middle;
}

.relative {
  position: relative;
}

.button-more-images {
  background-color: #fff;
  position: absolute;
  bottom: var(--s2);
  right: var(--s2);
}

.button-icon {
  line-height: 10px;
}

.photo-table-column {
  width: 50px;
}

.main-table-column {
  width: 65%;
}

.flex {
  display: flex;
}

.content-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-spaced {
  display: flex;
  justify-content: space-between;
}

.content-right {
  display: flex;
  justify-content: flex-end;
}

.mt-2 {
  margin-top: var(--s2);
}

.mx-2 {
  margin-left: var(--s2);
  margin-right: var(--s2);
}

.my-1 {
  margin-bottom: var(--s1);
  margin-top: var(--s1);
}

.my-3 {
  margin-bottom: var(--s3);
  margin-top: var(--s3);
}

.mb-2 {
  margin-bottom: var(--s2);
}

.mb-4 {
  margin-bottom: var(--s4);
}

.ml-2 {
  margin-left: var(--s2);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: var(--s3);
}

.grid-item {
  border: 1px solid #bbb;
  border-radius: 4px;
  color: #222;
  padding: var(--s2);
  text-decoration: none;
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
  overflow: hidden;
  box-sizing: border-box;
}

.grid-item:hover {
  border-color: #888;
  color: #333;
}

.grid-image {
  width: 100%;
  ratio: 1/1;
}

@media (min-width: 750px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1000px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.tag {
  display: inline-block;
  padding: var(--s1) var(--s2);
  border-radius: var(--s2);
  color: #555;
  font-size: 1.3rem;
  letter-spacing: 1.4px;
  text-decoration: none;
}

.tag-container {
  margin-top: var(--s1);
}

.tag-list-item {
  margin-bottom: var(--s1);
  margin-right: var(--s2);
}

.tag-list-item:last-of-type {
  margin-right: 0;
}

.clickable-tag {
  cursor: pointer;
  transition: opacity 0.2s;
}

.clickable-tag:hover {
  opacity: 0.7;
}

.small-header {
  font-size: 1.8rem;
}

.maps-link {
  font-size: 1.7rem;
  margin-left: var(--s3);
}

.edible {
  background-color: #dcfce7;
}
.edible-with-caution {
  background-color: #fef9c3;
}
.poisonous {
  background-color: #fee2e2;
}
.interesting {
  background-color: #ede9fe;
}
.spring {
  background-color: #fce7f3;
}
.summer {
  background-color: #ecfccb;
}
.fall {
  background-color: #ffedd5;
}
.winter {
  background-color: #cffafe;
}
.agaric {
  background-color: #fedfcf;
}
.entomopathogenic {
  background-color: #ede9fe;
}
.soil {
  background-color: #fce7f3;
}
.wood {
  background-color: #ecfccb;
}
.duff {
  background-color: #ecfccb;
}
.spiders {
  background-color: #ffedd5;
}
.fungi {
  background-color: #ffedd5;
}
.substrate-moss {
  background-color: #dcffd7;
}
.substrate-dung {
  background-color: #ffaf752a;
}
.parasitic {
  background-color: #fee2e2;
}
.other {
  background-color: #f5f5f4;
}

.header {
  background-color: #fafaf9;
  padding-bottom: var(--s2);
  padding-top: var(--s2);
}

.header-title-link {
  color: black;
  text-decoration: none;
  transition: color 0.2s;
}

.footer {
  background-color: #fafaf9;
  padding-bottom: var(--s3);
  padding-top: var(--s3);
}

.footer-link {
  align-items: center;
  margin-bottom: var(--s2);
}

.footer-link:last-of-type {
  margin-bottom: 0;
}

.footer-link-text {
  margin-left: var(--s2);
}

.clearable-input {
  padding-right: 38px;
}

.input-clear {
  border: none;
  cursor: pointer;
  height: 38px;
  margin: 0;
  padding: 7px;
  position: absolute;
  right: 0;
  top: 0;
  width: 38px;
  transition: color 0.2s;
}

.input-clear:hover {
  color: gray;
}

.location-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: var(--s3);
}

.link-tile {
  height: 270px;
  overflow: hidden;
}

.location-tile {
  height: 540px;
  overflow: hidden;
}

.grid-link {
  background-color: white;
  border-radius: 4px;
  border: 1px solid #bbb;
  padding: var(--s3) var(--s4);
  text-align: center;
  text-decoration: none;
  z-index: 1;
}

.centered-image {
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.defaultTableImg {
  width: 50px;
}

.defaultGridImg {
  display: block;
  width: 100%;
}
