:root {
  --s1: 0.5rem;
  --s2: 1rem;
  --s3: 2rem;
  --s4: 4rem;
}

.page {
  margin-bottom: var(--s4);
  margin-top: var(--s4);
  min-height: calc(100vh - 20rem);
  overflow-x: hidden;
}

.noMargin {
  margin-bottom: 0;
}

.horizontalScroll {
  overflow-x: auto;
  white-space: nowrap;
}

.horizontalScrollItem {
  display: inline-block;
  white-space: normal;
  height: 100%;
}

.relative {
  position: relative;
}

.button-more-images {
  background-color: #fff;
  position: absolute;
  bottom: var(--s2);
  right: var(--s2);
}

.button-icon {
  line-height: 10px;
}

.photo-table-column {
  width: 50px;
}

.main-table-column {
  width: 65%;
}

.content-right {
  display: flex;
  justify-content: flex-end;
}

.mt-2 {
  margin-top: var(--s2);
}

.my-1 {
  margin-bottom: var(--s1);
  margin-top: var(--s1);
}

.mb-2 {
  margin-bottom: var(--s2);
}

.ml-2 {
  margin-left: var(--s2);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: var(--s3);
}

.grid-item {
  border: 1px solid #bbb;
  border-radius: 4px;
  color: #222;
  padding: var(--s2);
  text-decoration: none;
}

.grid-item:hover {
  border-color: #888;
  color: #333;
}

.grid-image {
  width: 100%;
  ratio: 1/1;
}

@media (min-width: 750px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1000px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.tag {
  display: inline-block;
  padding: var(--s1) var(--s2);
  border-radius: var(--s2);
  color: #555;
  font-size: 1.3rem;
  letter-spacing: 1.4px;
  text-decoration: none;
}

.tag-container {
  margin-top: var(--s1);
}

.tag-list-item {
  margin-bottom: var(--s1);
  margin-right: var(--s2);
}

.tag-list-item:last-of-type {
  margin-right: 0;
}

.clickable-tag {
  cursor: pointer;
  transition: opacity 0.2s;
}

.clickable-tag:hover {
  opacity: 0.7;
}

.small-header {
  font-size: 1.8rem;
}

.maps-link {
  font-size: 1.7rem;
  margin-left: var(--s3);
}

.edible {
  background-color: #dcfce7;
}
.edible-with-caution {
  background-color: #fef9c3;
}
.poisonous {
  background-color: #fee2e2;
}
.interesting {
  background-color: #ede9fe;
}
.spring {
  background-color: #fce7f3;
}
.summer {
  background-color: #ecfccb;
}
.fall {
  background-color: #ffedd5;
}
.winter {
  background-color: #cffafe;
}
.other {
  background-color: #f5f5f4;
}

.header {
  background-color: #fafaf9;
  padding-bottom: var(--s2);
  padding-top: var(--s2);
}

.header-title-link {
  color: black;
  text-decoration: none;
  transition: color 0.2s;
}

.footer {
  background-color: #fafaf9;
  padding-bottom: var(--s3);
  padding-top: var(--s3);
}

.footer-link {
  align-items: center;
  margin-bottom: var(--s2);
}

.footer-link:last-of-type {
  margin-bottom: 0;
}

.footer-link-text {
  margin-left: var(--s2);
}

.clearable-input {
  padding-right: 38px;
}

.input-clear {
  border: none;
  cursor: pointer;
  height: 38px;
  margin: 0;
  padding: 7px;
  position: absolute;
  right: 0;
  top: 0;
  width: 38px;
  transition: color 0.2s;
}

.input-clear:hover {
  color: gray;
}

.qlink-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: var(--s3);
}

.qlink-tile {
  display: grid;
  place-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #bbb;
  border-radius: 4px;
}

.qlink-tile-1 {
  background-image: url('https://static.inaturalist.org/photos/329308003/medium.jpeg');
}

.qlink-tile-2 {
  background-image: url('https://static.inaturalist.org/photos/298467504/medium.jpg');
}

.qlink-tile-3 {
  background-image: url('https://static.inaturalist.org/photos/290390330/medium.jpeg');
}

.qlink-tile-title {
  background-color: white;
  margin-top: 20%;
  margin-bottom: 20%;
  padding: 5%;
  border: 1px solid #bbb;
  border-radius: 4px;
}

.qlink-tile-title a:link {
  text-decoration: none;
}

.qlink-tile-title h5 {
  margin-bottom: 0;
}